@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit&display=swap');

body {
    max-width: 90%;
    margin: 4rem;
    background-image: /* url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Marmota_marmota_Tauerntal_20220816_07.jpg/1024px-Marmota_marmota_Tauerntal_20220816_07.jpg),  */linear-gradient(-25deg, rgb(22, 135, 237), rgb(221, 221, 221));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    font-family: 'Open Sans';
}

h1 a {
    color: #000;
    text-decoration: none;
}

a, a:visited {
    color: #FFF;
}
a:hover {
    color:rgb(253, 16, 16);
}

img {
    float: left;
    margin: 0 4em 0 2em;
    width: 300px;
}

p:first-child {
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1em;
    color: rgb(0, 5, 36);
}

blockquote, q {
    display: inline-block;
    font-style: italic;
    font-size: 1.6em;
    border-left: dashed 3px;
    padding-left: 30px;
    margin: 0 5em 0 0;
    background-color:rgb(233, 233, 233);
    width: 90%;
}
q { 
    display: inline-block;
    margin: 80px 5em 80px 0;
}
.villager {
    border-color:rgb(22, 135, 237)
}
.farmer {
    border-color:rgb(253, 16, 16)
}

header h1 {
    background-color: rgb(255, 255, 158);
}

.good, .bad {
    text-transform:uppercase;
}

.good {
    color: green;
}
.bad {
    color: red;
}

table tr:nth-child(odd) td, th{
    background-color: #FFF;
}

table tr:nth-child(even) td,     th{
    background-color: #777;
}

.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    float: right;
    position: fixed;
    bottom: 20px; 
    right: 20px;
}