@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit&display=swap');

body {
    max-width: 90%;
    margin: 4rem;
    background-image: /* url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Marmota_marmota_Tauerntal_20220816_07.jpg/1024px-Marmota_marmota_Tauerntal_20220816_07.jpg),  */linear-gradient(-25deg, rgb(22, 135, 237), rgb(20, 55, 90));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    font-family: 'Open Sans';
}

img {
    float: left;
    margin: 4em 4em 4em 10em;
}

p:first-of-type {
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 1.2em;
    color: rgb(0, 5, 36);
}

blockquote {
    width: 50%;
    margin: 0 20em;
}
blockquote p {
    margin: 80px 0;
}

q { 
    font-size: 1.6em;
    border-left: solid 3px brown;
    padding-left: 30px;
    margin: 80px 0; 
}

blockquote, q {
    background-color:rgb(233, 233, 233);
    font-style: italic;
}

.villager {
    border-color:rgb(22, 135, 237)
}
.farmer {
    border-color:rgb(253, 16, 16)
}

header h1 {
    background-color: rgb(255, 255, 158);
}

.good, .bad {
    text-transform: capitalize;
}

.good {
    color: green;
}
.bad {
    color: red;
}

table tr:nth-child(odd) td{
    background-color: #FFF;
}

table tr:nth-child(even) td{
    background-color: #777;
}